.form-navigate{
    background-color: rgb(243, 242, 242) ;
    width: 420px;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;
    position: relative;
    top: 170px;
    padding-bottom: 1px;
    padding-top: 1px;
    margin: 0 auto;
}
#navigate-header  {
    font-family: Arial, Helvetica, sans-serif;
    font-size:  35px;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: static;
    right: 0;
    
    padding-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.form-navigate-div{
     place-items: center;
    place-content: center;
}
.div-form-mechanism-piece{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    place-content: center;
    place-items: center;
     margin: 0 auto;
    
    font-family: Arial, Helvetica, sans-serif;
    
}
.div-form-button{
    padding: 10px;
    width: 80%;
    margin-top: 10px;
    background-color: hsl(197.09deg 43% 16);
    border-radius: 10px;
    border: 0px solid;
    box-shadow: 0px 0px 5px rgb(151, 151, 151);
    color: rgb(184, 168, 18);
    transition: background-color 0.5s, color 0.5s, scale 0.5s, box-shadow 0.5s;
    
}
.div-form-margin{
    margin-bottom: 40px;
}
.div-form-button:hover{
    background-color: hsl(198, 43%, 12%);
    color: rgb(168, 153, 17);
    box-shadow: 0px 0px 10px rgb(168, 153, 17);;
    scale: 1.02;
    cursor: pointer;
}
#login-logo1{
    display: block;
    width: 80px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-top: 40px;
    background-color: #d4d1d18f;
    box-shadow: 0px 0px 10px rgba(97, 97, 97, 0.473);
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 50px;
}
@media (min-width: 320px) and  (max-width: 767px){   
    .form-navigate{
        width: 90%;
        position: relative;
        bottom:  25vh;
    }
 }
@media (min-width: 480px) { 
    .form-navigate{
        position: relative;
        top: 25vh;
    }

 }

/* Tablets */
@media (min-width: 768px) { }

/* Small laptops / tablet landscape */
@media (min-width: 1024px) {

 }

/* Desktops */
@media (min-width: 1280px) { }

/* Large screens */
@media (min-width: 1440px) { }

/* Extra large / 4K */
@media (min-width: 1920px) { }