.sidebar-header{
    display: flex;
    flex-direction: row;
    

}
.sidebar{
    background-color: rgb(233, 203, 30);
    width:17%;
    height: 180px;
    border-radius: 30px;
    position: relative;
    left: 30px;
    top: 30px;
    box-shadow: 0px 0px 10px rgb(128, 128, 128);
    place-content: right;
    place-items: right;
}
.sidebar > h2{
    position: relative;
    left: 30%
}
.filter-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    left: 25%;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.filter-input {
    width: 80%;
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}
.filter-input:focus{
    outline: none;
    border: 2px ;
    border-style: solid;
    border-color: rgb(175, 175, 175);
}

.filter{
    width: 80%;

}
.table-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    border-radius: 25px;
    width: 90%;
    background-color: rgb(233, 203, 30);
    height: 120px;
    place-items: center;
    place-content: center;
    box-shadow: 0px 0px 10px rgb(128, 128, 128);
}
.table-header p{
    place-items: center;
    place-content: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    left: 45%;
}
.table{
    place-items: center;
    place-content: center;
    width: 90%;
    position: relative;
    top: 40px;
}
.table-header > .ceil{
    place-items: center;
    place-content: center;
}
.request-card{
    display: flex;
    flex-direction: row ;
    
    position: relative;
    border-radius: 25px;
    
    background-color:rgb(228, 226, 226);
    height: 150px;
    place-items: center;
    place-content: center;
    margin-top: 20px;
    width: 90% ;
    left: 5%;
    box-shadow: 0px 0px 25px rgb(129, 129, 129);
    
}
.table-header > .cell-head{
    font-weight: bolder;
}
.request-card:hover{
    background-color: rgb(128, 128, 128);
    cursor: pointer;
}
.request-card  .table-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    flex: 1;
     position: relative;
    left: 8%;
    place-content: center;
    place-items: center;
    
   
}
.request-card  .table-row  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

.request-card > .table-row img{
    width: 70%;
}

    


