.sidebar-header-user{
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;

}
.sidebar-user{
    background-color: rgb(233, 203, 30);
    width:17%;
    height: 180px;
    border-radius: 30px;
    position: relative;
    left: 30px;
    top: 30px;
    box-shadow: 0px 0px 10px rgb(128, 128, 128);
}
.filter-item-user{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    left: 40px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.table-order-user{
    position: relative;
    top: 40px
}
.filter-input-user {
    width: 80%;
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}
.filter-input-user:focus{
    outline: none;
    border: 2px ;
    border-style: solid;
    border-color: rgb(175, 175, 175);
}

.filter-user{
    width: 80%;

}
.table-header-user{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    border-radius: 25px;
    width: 90%;
    background-color: rgb(233, 203, 30);
    height: 120px;
    place-items: center;
    place-content: center;
    box-shadow: 0px 0px 10px rgb(128, 128, 128);
    left: 5%;
}
.table-header-user p{
    place-items: center;
    place-content: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    left: 45%;
}
.table-user{
    place-items: center;
    place-content: center;
    width: 90%;
    position: relative;
    top: 40px;
}
.table-header-user > .ceil-user{
    place-items: center;
    place-content: center;
}
.request-card-user{
    display: flex;
    flex-direction: row ;
    
    position: relative;
    border-radius: 25px;
    
    background-color: rgb(214, 214, 214);
    height: 150px;
    place-items: center;
    place-content: center;
    margin-top: 20px;
    width: 90% ;
    left: 5%;
    box-shadow: 0px 0px 10px rgb(128, 128, 128);

    
}
.request-card-user:hover{
    background-color: rgb(128, 128, 128);
    cursor: pointer;
}
.request-card-user  .table-row-user{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    flex: 1;
     position: relative;
    left: 8%;
    place-content: center;
    place-items: center;
    
   
}
.request-card-user  .table-row-user  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

.request-card-user > .table-row-user img{
    width: 70%;
}

    