.sidebar-header-user{
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;

}
.sidebar-user{
    background-color: rgb(233, 203, 30);
    width:17%;
    height: 180px;
    border-radius: 30px;
    position: relative;
    left: 30px;
    top: 30px;
    box-shadow: 0px 0px 10px rgb(128, 128, 128);
}
.filter-item-user{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    left: 40px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.table-order-user{
    position: relative;
    top: 40px
}
.filter-input-user {
    width: 80%;
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}
.filter-input-user:focus{
    outline: none;
    border: 2px ;
    border-style: solid;
    border-color: rgb(175, 175, 175);
}

.filter-user{
    width: 80%;

}
.table-header-user{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    border-radius: 25px;
    width: 90%;
    background-color: hsl(197.09deg 43% 16);
    color: rgb(184, 168, 18);
    height: 120px;
    place-items: center;
    place-content: center;
    box-shadow: 0px 0px 10px rgb(128, 128, 128);
    left: 5%;
    margin-top: 0px;
}
.table-header-user p{
    place-items: center;
    place-content: center;
    
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    left: 45%;
}
.table-user{
    place-items: center;
    place-content: center;
    width: 90%;
    position: relative;
    top: 40px;
}
.table-header-user > .ceil-user{
    place-items: center;
    place-content: center;
}
.request-card-user{
    display: flex;
    flex-direction: row ;
    
    position: relative;
    border-radius: 25px;
    
    background-color: rgb(214, 214, 214);
    height: 150px;
    place-items: center;
    place-content: center;
    margin-top: 20px;
    width: 90% ;
    left: 5%;
    box-shadow: 0px 0px 10px rgb(128, 128, 128);
    transition: background-color 0.5s, scale 0.5s, box-shadow 0.5s;
    
}
.request-card-user:hover{
    background-color: rgb(128, 128, 128);
    scale: 1.02;
    box-shadow: 0px 0px 20px hsl(197.09deg 43% 16);
    cursor: pointer;
}
.request-card-user  .table-row-user{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    flex: 1;
     position: relative;
    left: 8%;
    place-content: center;
    place-items: center;
    
   
}
.request-card-user  .table-row-user  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

.request-card-user > .table-row-user img{
    width: 70%;
}

.table-order-user{
    width: 100%;
}
.frame2{
    animation-name: loading1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    left: 50%;
    position: relative;
    top: 250px;
}

@keyframes loading2{
    0% {
        transform: rotate(0turn);
    }
    25% {
        transform: rotate(0.25turn);
    }
    50% {
        transform: rotate(0.5turn);
    }
    75% {
        transform: rotate(0.75turn);
    }
    100% {
        transform: rotate(1turn);
    }

}

.pagination2{
    margin:30px auto ;
    display: flex;
    justify-content: center;
    
}
.pagination2 button{
    margin-left: 3px;
    margin-right: 3px;
    padding: 17px; 
    font-size: 15px;
    border-radius: 10px;
    border-style: hidden;
    background-color:hsl(197.09deg 43% 16) ;
    color: rgb(184, 168, 18);
    box-shadow: 0px 0px 5px rgb(20, 20, 20);
    margin-bottom: 20px;
    transition: background-color 0.5s,  color 0.5s, box-shadow 0.5s, scale 0.5s;
}
.pagination2 button:hover{
    background-color:hsl(198, 41%, 8%) ;
    color: rgb(139, 127, 14);
    box-shadow: 0px 0px 10px rgb(207, 189, 21);
    scale: 1.05;
}
button.pressed1 {
    animation: try 0.5s ;
    animation-timing-function: linear;
}

@keyframes try{
    0% {
   
    }
    50% {
        background-color:hsl(0, 0%, 0%) ;
        color: rgb(126, 114, 12);
        box-shadow: 0px 0px 10px rgb(248, 226, 25);
        scale: 0.95;
    }
    100%{
       
  
    background-color:hsl(197.09deg 43% 16) ;
    color: rgb(184, 168, 18);
    box-shadow: 0px 0px 5px rgb(20, 20, 20);
    }
}

button.active1 {
    animation: activate 0.5s ;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes activate {
    0%{

    }
    100%{
    background-color:hsl(197.09deg 43% 16) ;
    color: rgb(184, 168, 18);
    box-shadow: 0px 0px 5px rgb(20, 20, 20);
    scale: 0.90;
    }
}
button.unactivated1 {
    animation: unactivated 0.5s ;
    animation-timing-function: linear;
    
}

@keyframes unactivated {
    0%{
        
        background-color:hsl(197.09deg 43% 16) ;
    color: rgb(184, 168, 18);
    box-shadow: 0px 0px 5px rgb(20, 20, 20);
    scale: 0.90; 

    }
    100%{
    background-color:hsl(197.09deg 43% 16) ;
    color: rgb(184, 168, 18);
    box-shadow: 0px 0px 5px rgb(20, 20, 20);
    scale: 1;
    }
}

.statistics1{
    display: grid;
    grid-template-columns: 1fr ;
    text-align: center;
    width: 90%;
    gap: 20px;
    height: 250px;
    font-size: 25px;
    margin-bottom: 1px ;
    position: relative;
    top: 5px;
}    


.statisics-total1,.statisics-by-type1{
    background-color: hsl(197.09deg 43% 16);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(85, 85, 85);
    color : rgb(184, 168, 18);
    font-family: Calibri;
    
} 

.statisics-total1,.statisics-by-type1 p{
    padding-inline: 20px;
} 
.statisics-total1{
    text-indent: 10px;
}

.type-whole1 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr 1.4fr 0.8fr;
    font-size: 17px;
    text-align: center;
    width: 98%;
    
    margin: 0 auto;
    
}
.totals{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.totals > div{
    font-size: 20px;
}
.statisics-total > p{
    margin-bottom: 1px;
}
.total-results{
    background-color: rgb(228, 226, 226, 0.08);
    border-radius: 10px;
    margin: 10px;
    
    
}
.type-ind1{
    background-color: rgb(228, 226, 226, 0.08);
    border-radius: 10px;
    margin: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}
.progress-bar1{
    width: var(--progress);
    background-color: var(--color);
    height: 10px;
    overflow: hidden;
    border-radius: 20px;
    margin: 10px;
}
.icons1{
    
    display: block;
    margin: 0px auto;
    margin-top: 15px;
}